@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');


* {
    font-family: 'Beth Ellen', cursive;
    margin: 0;
    padding: 0;
   
    background-color: white;
}

 body {
     overflow: hidden;
 }


 button {
    position: fixed;
    bottom: 40;
    right: 40;
    font-size: 28;
    padding: '10px 16px';
    cursor: 'pointer';
 }

