@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');


* {
    font-family: 'Beth Ellen', cursive;
    margin: 0;
    padding: 0;
    background-color: black;
}




 button {
    position: fixed;
    right: 40px;
    top: 90%;
    transform: translateY(-50%);
    z-index: 1000;
    color: white;
    border-style: none;
    font-size: 48px; 
 }

